@font-face {
    font-family: Alegreya;
    src: url("./fonts/Alegreya-Medium.ttf");
  }
:root{
    --card-color:rgba(222, 234, 246, 0.692);
    --bg: white;
    --titletheme:rgb(68,115,193);
}
.MYArticles{
    background: var(--bg);
    /* background-image:radial-gradient(rgba(238, 150, 150, 0.315),rgb(248, 192, 192));    */
    color:black;
    
}
.indexBlog{
    list-style: square;
}
#blog a {
    text-decoration: none;
    color:black;

}

#blog li{
    width:40%;
    font-family: 'Alegreya';
    font-size: large;
    border-radius: 10px;
    border: 1px solid  var(--card-color);
    padding: 2rem;
    margin-top: 1rem;
    background-color: var(--card-color);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    
}
@media screen and (min-width:800px){
   .postCard{
    width: 50%;
   }
   .indexBlog a:hover{
       text-decoration: none;
       text-transform: none;
      }
}