html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
*{
 margin:0;
 overflow-x: hidden;
 box-sizing: border-box;
}
body{
   
    margin:0;
    overflow-x:hidden;
    overflow-y: visible;
    font-size: 1.5rem;
    font-family: sans-serif
}
@font-face {
    font-family: tr;
    src: url("../fonts/TR-Regular.ttf");
  }

.headerspan{
    height: 4.5rem;
}
a{
    color:black;
}
h1{
 
 font-family: tr,"sans-serif";
 font-size: 5rem;
 text-align: center;
}
p{
   
    text-align: justify;
}
.box{
    
    
    margin:none;    
    min-height:100vh;
    align-items: center;
    padding-bottom: 7rem;
    font-size: 2.5rem;
    font-family: tr,'Times New Roman', Times, serif;
    
}
.box .centercon{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    
}
.abtme{
    background-color: rgb(12, 186, 186);
    color:black;
    height:75vh;

}
.MYProjects{
    background-color: cornsilk;
    color:rgb(0, 0, 0);
   
}

.MYInterests{
    background-color: thistle;
    color:rgba(58, 13, 59, 0.87);
   
}
.MYArticles{
    background-color:rgba(238, 150, 150, 0.315);
    color:rgb(105, 3, 46)
}

/* navbar*/
nav{
    position: fixed;
    width:100%;
    background-color: white;
    z-index: 1;
   
}
nav .logo{
    margin-top:0.5rem;
    margin-left: 2rem;
    overflow-y: hidden;
    float: left;

}
.topbar{
    
    width: 65%;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    font-family: tr,'sans serif';
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;   
   
}
nav .navitem{
    display: inline;
   padding:0.5rem 3rem 0rem 3rem;   

}


nav .nav-icon{
    margin-top: 0.5rem;
    float:right;
    
}
nav .line1,nav .line2, nav .line3{
    background-color:black;
    height: 0.2rem;
    width: 3.5rem;
    margin:1rem;
}


/*navbar*/

a{
    text-decoration: none;
}


#history,#codes{
    display: none;
}
/*social media*/

.social-media
{
    display: flex;
    list-style: none;
    margin: 10px auto;
    padding: 0;
    justify-content: center;
    z-index: 0;
}

.social-media a
{
    display: block;
    position: relative;
    margin: 0 10px;
    transition: 0.5s;
}





.footer{
   position: relative;
    width:100%;
    height: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-left: 1rem;

    margin-top:2rem;
    margin-bottom: 1rem;
    left:0;
    bottom:0;
    color:rgba(0, 0, 0, 0.966);
   font-size: 1.5rem;

   
}
@media screen and (min-width:800px){
    /* big only */
    .box{
        padding:2rem;
    }
    nav .nav-icon{
        display: none;
    }
    
 
    a:hover{
        text-decoration: underline;
        text-shadow: grey;
        text-transform: uppercase;
    }
    
    .social-media li:hover
    {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
    }
}
@media screen and (max-width: 800px) {
    /* small only*/
    .toggle .line1{
        transform: rotate(-45deg) translateY(1.7rem);
        background-color: white;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translateY(-1.7rem) ;
        background-color: white;
    }
   
    .topbar{
        position: fixed;
        top:0;
        right:0;
        z-index:-1;   
        width:45%;
        text-align: center;
        flex-direction:column;
        padding:none;
        

    }
    nav .navitem{
        opacity: 0;
        display:none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
       
    }
   
    .top-bar-active{
        padding:3rem 0rem 0rem 0rem;      
        background-color: rgba(0, 0, 0, 0.493);
       
    }
    nav .top-bar-active .navitem a{
        color:white;
    }
    nav .top-bar-active .navitem{
        opacity: 1; 
        display:block;        
        text-align: center;
    }
    
    nav .nav-icon{
        display: block;
        margin-right: 2rem;
        z-index: 1;
    }
   
    .abtme,.MYInterests,.MYArticles{
        padding: 1rem;
    }
    .box .centercon{
        margin-left: 10px;
        margin-right: 10px;
    }
    
   }