html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    overflow-x:hidden;
    overflow-y: visible;
    font-size: 1.5rem;
    font-family: sans-serif
}
@font-face {
    font-family: tr;
    src: url("../fonts/TR-Regular.ttf");
  }
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    margin:none;    
    background-color:snow;
    height: 4.5rem;
    z-index:1;
}

.navbar a {
    float:right;
}
 .navbar a {
    text-decoration: none;
    padding:10px;
    margin:2px 2px 2px 2px;
    font-size: 2.5rem;
    font-family:TR;
    color:black;
    
    
}
.navbar a:hover{
    text-decoration: underline;
    text-shadow: grey;
    text-transform: uppercase;
    color:black
}
.headerspan{
    height: 4.5rem;
}
h1{
 font-size: 5rem;
}
p{
   
    text-align: justify;
}
.box{
    
   
    margin:none;
    padding: 2rem;
    margin-left: none;
    margin-right: none; 
    font-size: 2rem;
    font-family: tr,'Comic Sans MS';
    
}
.abtme{
    

}
.MYProjects{
    background-color: midnightblue;
    color:snow
    
}
.MYInterests{
    background-color: thistle;
   
}
.MYArticles{
    background-color:rgba(238, 150, 150, 0.315);
    color:rgb(105, 3, 46)
}


/*social media*/

.social-media
{
    display: flex;
    list-style: none;
    margin: 10px auto;
    padding: 0;
    justify-content: center;
    z-index: 0;
}

.social-media a
{
    display: block;
    position: relative;
    margin: 0 10px;
    transition: 0.5s;
}

.social-media li:hover
{
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}
.footer{
   
    width:100%;
    height: 2rem;
    margin: none;
   
}
@media screen and (max-width: 800px) {
    .box{
       font-size: smaller;
    }
    .a{
        font-size:smaller;
    }
}