.MYInterests{
    padding: 2rem;
    /* margin-right: 10rem; */
    margin-left: 0rem;
    color:black;
    
   
}
.hobbies{
    padding-top: 2rem;
    padding-right: 5rem;
    float: right;
    width:40%;
    font-family: tr,sans-serif;
    font-size: 2.5rem;
    /* list-style-type: upper-roman; */
    list-style-position: inside;
    
}
.hobbies li{
    font-weight: bold; 
   
}
@media screen and (min-width:900px){
    .hobbies li:hover{
        font-style: italic; 
        /* text-transform: uppercase;        */
    }
}
.collage{
    width: 60%;
    height: 100vh;
    float: left;
    background-image: url("../images/collageWhite.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width:800px){

    .collage{
        width: 100%;
        min-height: 30vh;
        height: auto;
        background-size: cover;
       
    }
    .hobbies{
       width: 100%;
       font-size: 2rem;
    }
}